<div class="container">
  <div class="row">

    <div class="contact-form col-md-12">
      <h1>お問い合わせ</h1>
      <div class="txtb">
        <label>フルネーム :</label>
        <input type="text" name="" value="" placeholder="田中太郎">
      </div>

      <div class="txtb">
        <label>メールアドレス :</label>
        <input type="email" name="" value="" placeholder="tanaka@tarou.com">
      </div>

      <div class="txtb">
        <label>電話番号 :</label>
        <input type="text" name="" value="" placeholder="080-1234-5678">
      </div>

      <div class="txtb">
        <label>メッセージ :</label>
        <textarea></textarea>
      </div>
      <a class="cnt-btn">送信</a>
    </div>
  </div>
</div>