<script>
  function clearText(){
    const textForm1 = document.getElementById("form1");
    const textForm2 = document.getElementById("form2");
    const textForm3 = document.getElementById("form3");
    const textForm4 = document.getElementById("form4");
    textForm1.value='';
    textForm2.value='';
    textForm3.value='';
    textForm4.value='';
    alert("管理人へ送信されました");
  }
</script>

<div class="container">
  <div class="row">

    <div class="col-md-5" style="margin-top: 50px;">
      <a class="twitter-timeline" data-lang="ja" data-width="500" data-height="600" data-theme="light" href="https://twitter.com/programike?ref_src=twsrc%5Etfw">Tweets by programike</a>
    </div>

    <div class="contact-form col-md-7">
      <h3>本ブログへのお問い合わせ</h3>
      <div class="txtb">
        <label>フルネーム :</label>
        <input type="text" name="" value="" placeholder="田中太郎" id="form1">
      </div>

      <div class="txtb">
        <label>メールアドレス :</label>
        <input type="email" name="" value="" placeholder="tanaka@tarou.com" id="form2">
      </div>

      <div class="txtb">
        <label>電話番号 :</label>
        <input type="text" name="" value="" placeholder="080-1234-5678" id="form3">
      </div>

      <div class="txtb">
        <label>メッセージ :</label>
        <textarea id="form4"></textarea>
      </div>
      <a class="cnt-btn" href="#" onClick="clearText()">送信</a>
    </div>
  </div>
</div>