<div class="container">
  <div class="row">

    <div class="col-md-5" style="margin-top: 50px;">
      <a class="twitter-timeline" data-lang="ja" data-width="500" data-height="600" data-theme="light" href="https://twitter.com/programike?ref_src=twsrc%5Etfw">Tweets by programike</a>
    </div>

    <div class="contact-form col-md-7">
      <h3>本ブログへのお問い合わせ</h3>
      <div class="txtb">
        <label>フルネーム :</label>
        <input type="text" name="" value="" placeholder="田中太郎">
      </div>

      <div class="txtb">
        <label>メールアドレス :</label>
        <input type="email" name="" value="" placeholder="tanaka@tarou.com">
      </div>

      <div class="txtb">
        <label>電話番号 :</label>
        <input type="text" name="" value="" placeholder="080-1234-5678">
      </div>

      <div class="txtb">
        <label>メッセージ :</label>
        <textarea></textarea>
      </div>
      <a class="cnt-btn" href="#">送信</a>
    </div>
  </div>
</div>