<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ふんわりブログ</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
  <div data-scope-path="./top">
    <div class="top-wrapper">
      <div class="container">
        <h1>RECORD YOUR IDEAS.</h1>
        <h1>SHARE YOUR KNOWLEDGES.</h1>
        <p>ふんわりブログはオンラインブログサービスです。</p>
        <p>日々のアイデアや考えをを気軽に投稿しましょう。</p>
        <div class="btn-wrapper">
          <a href="/users/sign_up" class="push signup" style="text-decoration: none; color:white;">新規登録はこちら</a>
        </div>
      </div>
    </div>
    <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h2>サービスの特徴</h2>
        </div>
        <div class="lessons">
          <div class="lesson">
            <div class="lesson-icon">
              <img src="/assets/bunbougu_memo.png" class="icon-img">
            </div>
            <p class="text-contents">ちょっとしたアイデアやタスク管理まで。忘れないように記録しておきましょう。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="/assets/computer_cloud_storage.png" class="icon-img">
            </div>
            <p class="text-contents">投稿した内容はインターネット上から投稿、閲覧ができます。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="/assets/business_idea_share.png" class="icon-img">
            </div>
            <p class="text-contents">あなたのアイデアが誰かの役に立つかもしれません。みんなでアイデアを共有しましょう。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="/assets/photo_pinboke.png" class="icon-img">
            </div>
            <p class="text-contents">文字だけでなく画像付きで投稿ができます。</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2 class="txtcolorw">あなたもふんわりブログで日々のアイデアを投稿しましょう！</h2>
          <h3 class="txtcolorw">Let's record your ideas, share your knowledges!</h3>
        </div>
        <a class="push message" href="articles" style="text-decoration: none; color:white;">使ってみる！</a>
      </div>
    </div>
    <footer>
      <div class="container">
        <p>ふんわりブログ</p>
      </div>
    </footer>
  </div>
  </body>
</html>