<% visitor = notification.visitor%>
<% visited = notification.visted%>
<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= visitor.name %>さんが
    </span>
    <% case notification.action %>
    <% when 'like' then%>
      <% link_to 'あなたの投稿', notification.article, style:"font-wight: bold;"%>にいいねしました
    <% when 'comment' then%>
      <% if notification.article.user_id == visited.id%>
        <%= 'あなたの投稿', notification.post, style:"font-weight: bold;"%>
      <%else%>
        <%= notification.article.user.name +'さんの投稿'%>にコメントしました
      <%end%>
      <p class="text-muted mb-0"><% Comment.find_by(id: notification.comment_id)&.comment %></p>
  </div>
  <div class=" small text-muted text-right"> <%= time_ago_in_words(notification.created_at).upcase %></div>
</div>