<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
  <%= render notifications %>
  <%= paginate notifications %>
<% else %>
<div class="container">
  <div class="row">
    <h3 class="col-md-12">まだ通知はありません！</h3>
    <p class="col-md-12">※自分が投稿した記事にいいね、コメントされると通知されます</p>
  </div>
</div>

<% end %>
