// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-top-5per{
  margin-top: 5%;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.padding-top-10{
  padding-top: 10px;
}

.padding-bottom-15{
  padding-bottom:15px;
}

.margin-right-5{
  margin-right: 5px;
}

.article-block{
  background-color: gainsboro;
  border:1px solid white;
}

// #article-box:hover{
//   border: 1px solid chartreuse;
// }

.article-img{
  width:100%;
  height:150px;
  object-fit: cover;
}

.show-img{
  width:100%;
  height:300px;
  object-fit: cover;
}

.title{
  font-size: 20px;
}

.border-1-s{
  border:1px solid;
}

.txtcolor{
  color: darkslategrey;
  text-decoration: none;
}

.relative{
  position: relative;
  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:lightgreen;
    font-size: 100px;
  }
}

#form-box{
  background-color: lightblue;
}

#image-list img{
  width: 100px;
}

footer p {
  color: black;
  font-size: 15px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.comments{
  background-color: palegoldenrod;
  border-radius: 15px;
  border: 1px solid black;
}

.comments-wrapper{
  padding: 5px;
}

// ページネーションのデザイン
.pagination {
  justify-content: center;
}

.pagination>li>a {
  color: black;
}

// indexの記事画像にアニメーションを実装
.container .bigbox .imgBx
{
	clip-path: circle(400px at center 17px);
	transition: 0.5s;
	transition-delay: 0.1s;
}
.container .bigbox .imgBx:hover
{
	clip-path: circle(74px at center 17px);
	transition-delay: 0s;
}
